<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="http://kaaaxcreators.de/img/favicon.png">
        <title>kaaaxcreators.de</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>kaaaxcreators</h1>
        <h2>This Site belongs to <a href="https://kaaaxcreators.de">kaaaxcreators</a></h2>
    </body>
</html>